<div class="row">
    <h2>Hard & Soft Skills</h2>
    <div class="col-lg-2">
      <button type="button" class="btn btn-secondary" routerLink="/nuevaskill" *ngIf="isLogged">
        Nueva Skill
      </button>
    </div>
  
  
    <!-- <div *ngFor="let skill of skill" class="text-center col-sm-4 col-md-4 col-lg-4"> -->
      <div class="text-center col-sm-4 col-md-4 col-lg-4">
      <circle-progress
        [percent]="80"
        [radius]="85"
        [showUnits]="false"
        [title]="'HTML'"
        [showSubtitle]="true"
        [subtitle]="'80'" 
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="5"
        [outerStrokeColor]="'#78C000'"
        [innerStrokeColor]="'#C7E596'"
        [animation]="true"
        [animationDuration]="600"
      >
      </circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
      <circle-progress
        [percent]="80"
        [radius]="85"
        [showUnits]="false"
        [title]="'Ruby'"
        [showSubtitle]="true"
        [subtitle]="'80%'" 
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="5"
        [outerStrokeColor]="'#78C000'"
        [innerStrokeColor]="'#C7E596'"
        [animation]="true"
        [animationDuration]="600"
      >
      </circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
      <circle-progress
        [percent]="50"
        [radius]="85"
        [showUnits]="false"
        [title]="'Java'"
        [showSubtitle]="true"
        [subtitle]="'50'" 
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="5"
        [outerStrokeColor]="'#78C000'"
        [innerStrokeColor]="'#C7E596'"
        [animation]="true"
        [animationDuration]="600"
      >
      </circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
      <circle-progress
        [percent]="70"
        [radius]="85"
        [showUnits]="false"
        [title]="'Bootstrap'"
        [showSubtitle]="true"
        [subtitle]="'70%'" 
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="5"
        [outerStrokeColor]="'#78C000'"
        [innerStrokeColor]="'#C7E596'"
        [animation]="true"
        [animationDuration]="600"
      >
      </circle-progress>
    </div>

  
<!--       <div *ngIf="isLogged">
        <button class="btn btn-light" routerLink="/editskill/{{skill.id}}">
        <i class="bi bi-pencil"></i></button>
        </div>
      
      <div *ngIf="isLogged">
        <button class="btn btn-danger" (click)="delete(skill.id)">
        <i class="bi bi-trash"></i></button>
        </div>
   -->
    </div>