<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../../assets/Silvana.jpg" class="img-fluid" id="fotodeperfil">
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <h2 id="nombre">{{persona.nombre}} {{persona.apellido}}</h2>
        <p>Fullstack Developer Jr</p>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <span>
            <h1>Acerca de Mí</h1>
            <p>Me considero una persona proactiva y responsable, con buenas relaciones interpersonales Busco un puesto que me desafie a continuar creciendo.</p>
        </span>
    </div>
</div>
