<div class="row">
    <div class="container">
        <div class="logo">
            <img src="../../../assets/logo.png" id="logoAP">
        </div>
        <div class="redes">
            <a href="https://www.facebook.com/silvana.suarez.5437"><img src="../../../assets/icons/facebook.png" id="facebook"></a>
            <a href="https://dirección red social linkedin"><img src="../../../assets/icons/linkedin.png" id="linkedin"></a>
            <a href="https://github.com/silvana443"><img src="../../../assets/icons/github.png" id="github"></a>
            <button type="button" class="btn btn-outline-light" (click)="login()" *ngIf="!isLogged">INICIAR SESSION</button>
            <button type="button" class="btn btn-outline-light" (click)="onLogOut()" *ngIf="isLogged">CERRAR SESSION</button>
        </div>

    </div>

</div>

